table {
    border: 1px solid lightgray;
    
  }
  
  tbody {
    border-bottom: 1px solid lightgray;
    
  }
  
  th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
    color: #4a331c;
  }
  
  tfoot {
    color: gray;
  }
  
  tfoot th {
    font-weight: normal;
  }
  